
@media (max-width:540px){


  .footer__container{
  grid-template-columns: repeat(2,1fr);
  }
}


@media(max-width: 768px) {
  .hamburger{
    display: block;
  }
  .navbar {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .nav.open{
    max-height: 500px;
  }
  .nav-group {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .logo-container {
    order: -1;
    margin-bottom: 1rem;
  }

  .nav li a {
    font-size: 1rem;
  }
  .footer__container{
    grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:1024px){
  .service__grid{
      gap: 1.2rem;
  }
}